<div class="about">
  <div class="about__container">
    <img src="assets/prof.jpg" alt="Profil" class="about__container__img" />
  </div>
  <div class="about__info">
    <h2>O mnie</h2>
    <p>
      Nazywam się Sebastian Szuba, jestem młodym 26-letnim rozwijającym się programistą, absolwentem
      studiów na poziomie inżynierskim, na kierunku Informatyki Uniwersytetu Rzeszowskiego. Moja
      pasja informatyczna rozwija się od moich najmłodszych lat. Kontynuując swoje zainteresowanie
      światem IT rozpocząłem swoją karierę zawodową od specjalistycznej szkoły średniej jako technik
      informatyk, gdzie nabyłem szerszą wiedzę o komputerach, systemach operacyjnych, sieciach
      komputerowych i programistyczną. W technikum nauczyłem się podstaw programistycznych i
      bazodanowych, pierwszych języków C++, PHP, Java i JavaScript.
    </p>
    <p>
      Na studiach rozwinąłem swoje umiejętności o kolejne języki jak python czy C#, poznałem
      pierwsze frameworki React, FastAPI, Django. Na zakończenie studiów obroniłem pracę iżynierską
      polegającej na napisaniu zautomatyzowanego bota do platformy Discord, który na bieżąco
      sprawdza popularne serwisy wiadomości i informuje w momencie nowego wpisu użytkownika w
      wybranej przez niego tematyce i/lub innych tematykach, które wybrał do śledzenia. Pobocznym
      celem było utworzyć do tego uniwersalny skrypt dla wielu serwisów.
    </p>
    <p>
      Po ukończeniu studiów rozpocząłem pracę na stanowisku programisty w technologiach Angular +
      .NET do teraz.
    </p>
    <p>
      Poza światem IT, pasjonuję się starą, klasyczną motoryzacją. Śledzę dyscypliny sportowe jak
      piłka nożna czy F1. 
    </p>
  </div>
</div>
