.app {
  display: flex;
  flex-direction: column;

  &__content {
    position: relative;
    height: 100%;
  }
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .app {
    display: none;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}